@import url("https://fonts.googleapis.com/css?family=Cabin|Droid+Sans|Droid+Serif|El+Messiri|Lora|Noto+Serif|Tangerine");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Droid+Serif");
/* line 89, ../sass/parts/_mixin.sass */
h1,
h2,
h3,
h4,
h5 {
  text-shadow: 1px 1px #316556;
}

/* line 1, ../sass/parts/_base.sass */
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

/* line 6, ../sass/parts/_base.sass */
body {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cabin, cursive;
}

/* line 11, ../sass/parts/_base.sass */
.container-fluid {
  background: #2c2c2c;
}

/* line 15, ../sass/parts/_base.sass */
#section4 {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 80vh;
  color: #fff;
  background-color: #00bcd4;
}

/* line 22, ../sass/parts/_base.sass */
#section5 {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 80vh;
  color: #fff;
  background-color: #009688;
}

/* line 29, ../sass/parts/_base.sass */
footer {
  box-sizing: border-box;
  background-color: #316556;
}
/* line 33, ../sass/parts/_base.sass */
footer .info-bottom {
  height: 80px;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0.2px 0.5px #fff;
}
/* line 43, ../sass/parts/_base.sass */
footer .info-bottom .copy {
  flex: 1;
  height: auto;
}
/* line 46, ../sass/parts/_base.sass */
footer .info-bottom .company {
  flex: 2;
  height: auto;
}

/* line 6, ../sass/parts/_nav.sass */
body > nav {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent !important;
}

/* line 13, ../sass/parts/_nav.sass */
.navbar-brand {
  color: rgba(38, 166, 154, 0.5) !important;
}
/* line 15, ../sass/parts/_nav.sass */
.navbar-brand:hover {
  text-shadow: 1px 1px #fff;
}

/* line 20, ../sass/parts/_nav.sass */
#myNavbar ul li {
  margin-bottom: 5px;
  border-bottom: thin solid #26a69a;
}
/* line 23, ../sass/parts/_nav.sass */
#myNavbar ul li:hover {
  border-bottom: thin solid #f35702;
}
/* line 25, ../sass/parts/_nav.sass */
#myNavbar ul li a {
  color: #f7f7f7;
  font-size: 1.25em;
}
/* line 28, ../sass/parts/_nav.sass */
#myNavbar ul li a:hover {
  color: #f35702;
}

/* line 30, ../sass/parts/_nav.sass */
.navbar-header {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 34, ../sass/parts/_nav.sass */
.dropdown-toggle {
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.5em;
  background-color: #121212;
}

/* line 41, ../sass/parts/_nav.sass */
.dropdown-menu {
  box-shadow: 1px 1px #ffffff;
  border-radius: 10px;
}

/* line 1, ../sass/parts/_section1.sass */
#section1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 70px 0;
  box-sizing: border-box;
  color: #fff;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-image: url(../img/keyboard-1.jpg);
}
/* line 8, ../sass/parts/_section1.sass */
#section1 div:nth-child(2) {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* line 11, ../sass/parts/_section1.sass */
.inner-row {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
/* line 14, ../sass/parts/_section1.sass */
.inner-row .text-header {
  margin-top: 0;
  margin-bottom: 10vh;
  padding: 20px;
  background-color: rgba(44, 44, 44, 0.8);
  text-shadow: 1px 1px #316556;
  box-shadow: 2px 2px #316556;
}
/* line 23, ../sass/parts/_section1.sass */
.inner-row .text-header h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 1.25em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 2.25em;
  }
}
/* line 26, ../sass/parts/_section1.sass */
.inner-row .text-header p {
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 26, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 26, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.25em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 26, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  /* line 26, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.75em;
  }
}

/* line 37, ../sass/parts/_section1.sass */
.riverfront {
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

/* line 41, ../sass/parts/_section1.sass */
iframe {
  width: 480px/2;
  height: 270px/2;
  margin: 20vh 10%;
  display: block;
  border-top: thin solid #fff;
  border-left: thin solid #fff;
  border-bottom: medium solid #333;
  border-right: medium solid #333;
  box-shadow: 3px 3px 6px #316556;
}
@media (max-width: 550px) and (orientation: portrait) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px / 1.75);
    height: calc( 270px / 1.75);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 551px) and (max-width: 768px) and (orientation: portrait) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1);
    height: calc( 270px * 1);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 992px) and (orientation: portrait) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.5);
    height: calc( 270px * 1.5);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 460px) and (max-width: 620px) and (orientation: landscape) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * .9);
    height: calc( 270px * .9);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 621px) and (max-width: 800px) and (orientation: landscape) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1);
    height: calc( 270px * 1);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 801px) and (max-width: 1080px) and (orientation: landscape) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.5);
    height: calc( 270px * 1.5);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 1081px) and (max-width: 1400px) and (orientation: landscape) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.8);
    height: calc( 270px * 1.8);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 1400px) and (orientation: landscape) {
  /* line 41, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 2.2);
    height: calc( 270px * 2.2);
    margin: 15vh auto;
    display: block;
  }
}

/* line 100, ../sass/parts/_section1.sass */
.white-plush {
  background-image: url(../img/white-plush-1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

/* line 104, ../sass/parts/_section1.sass */
.text-warning {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 10px 30px;
  text-align: center;
  color: #262626;
  border-top: 4px solid #316556;
}
/* line 112, ../sass/parts/_section1.sass */
.text-warning h2 {
  font-weight: 600;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 112, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 112, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 112, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  /* line 112, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 3.9rem;
  }
}
/* line 115, ../sass/parts/_section1.sass */
.text-warning p {
  width: 90%;
  margin: auto 5%;
  padding-bottom: 10px;
  font-weight: 500;
  background: rgba(222, 222, 222, 0.7);
  border-radius: 5px;
  border: thin solid rgba(33, 33, 33, 0.3);
  box-shadow: 4px 2px 1px #316556;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 115, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 115, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.25em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 115, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  /* line 115, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.75em;
  }
}
@media (min-width: 769px) {
  /* line 115, ../sass/parts/_section1.sass */
  .text-warning p {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
  }
}

/* line 2, ../sass/parts/_section2.sass */
#section2 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #316556;
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 14, ../sass/parts/_section2.sass */
#section2 div {
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: #232323;
  text-align: center;
  border-radius: 15px;
}

/* line 22, ../sass/parts/_section2.sass */
img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* line 26, ../sass/parts/_section2.sass */
.left-side {
  flex: 1 260px;
  height: auto;
  transition: 1s ease-in-out 0.1s;
  border: thin solid #525252;
}
@media (min-width: 900px) {
  /* line 32, ../sass/parts/_section2.sass */
  .left-side:hover {
    border: thin solid #c9c9c9;
    z-index: 20;
    transform: scale(1.2);
  }
}

/* line 36, ../sass/parts/_section2.sass */
.right-side {
  flex: 1 260px;
  height: auto;
  transition: 1s ease-in-out 0.1s;
  border: thin solid #525252;
}
@media (min-width: 900px) {
  /* line 36, ../sass/parts/_section2.sass */
  .right-side {
    order: 2;
  }
  /* line 43, ../sass/parts/_section2.sass */
  .right-side:hover {
    border: thin solid #c9c9c9;
    z-index: 20;
    transform: scale(1.2);
  }
}

/* line 47, ../sass/parts/_section2.sass */
.middle {
  flex: 1 260px;
  height: auto;
  transition: 1s ease-in-out 0.1s;
  border: thin solid #525252;
  order: 3;
}
@media (min-width: 900px) {
  /* line 54, ../sass/parts/_section2.sass */
  .middle:hover {
    border: thin solid #c4c4c4;
    z-index: 20;
    transform: scale(1.2);
  }
}

/* line 60, ../sass/parts/_section2.sass */
.text-graphic-1 {
  width: 100%;
  padding: 40px 0 45px;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px #316556;
  background-color: #232323;
  border-bottom: 4px solid #316556;
  text-shadow: 1px 1px #316556;
}
/* line 70, ../sass/parts/_section2.sass */
.text-graphic-1 h1 {
  letter-spacing: 1.25px;
  font-style: italic;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 70, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 1.25em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 70, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 70, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 70, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 2.25em;
  }
}

/* line 74, ../sass/parts/_section2.sass */
#moreLinks {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #232323;
}

/* line 79, ../sass/parts/_section2.sass */
.pages-menu {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 4px solid #316556;
}
/* line 85, ../sass/parts/_section2.sass */
.pages-menu ul {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 20px;
}
@media (min-width: 550px) {
  /* line 85, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  /* line 85, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  /* line 85, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* line 97, ../sass/parts/_section2.sass */
.pages-menu ul li {
  grid-column: span 1;
  grid-row: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px 0;
  list-style: none;
  border: thin solid #262626;
  border-radius: 10px;
}
/* line 107, ../sass/parts/_section2.sass */
.pages-menu ul li a {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 6px 0;
  text-align: center;
  letter-spacing: 1.25px;
  border: thin solid #316556;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(234, 234, 234, 0.5);
  letter-spacing: 1.25px;
  color: #fff;
  text-decoration: none;
  background-color: #316556;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 107, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 1.5em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 107, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 1.75em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 107, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 107, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 2.25em;
  }
}
/* line 121, ../sass/parts/_section2.sass */
.pages-menu ul li a:hover {
  color: #525252;
  text-decoration: none;
  background-color: #232323;
  border: thin solid #316556;
  box-shadow: 2px 3px 3px rgba(55, 55, 55, 0.5);
}

/*----- BLACK OPS 2 ----- */
/* line 2, ../sass/parts/_section3.sass */
#section3 {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 50px 40px;
  color: #fff;
  background-color: #232323;
}

/* line 9, ../sass/parts/_section3.sass */
.blackops2 {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
/* line 14, ../sass/parts/_section3.sass */
.blackops2 a {
  width: 100%;
}
/* line 17, ../sass/parts/_section3.sass */
.blackops2 a img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  box-shadow: 2px 2px #316556;
  animation: myShot 5s ease-in-out 1s infinite;
}
/* line 24, ../sass/parts/_section3.sass */
.blackops2 h2 {
  text-align: center;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 24, ../sass/parts/_section3.sass */
  .blackops2 h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 24, ../sass/parts/_section3.sass */
  .blackops2 h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 24, ../sass/parts/_section3.sass */
  .blackops2 h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  /* line 24, ../sass/parts/_section3.sass */
  .blackops2 h2 {
    font-size: 3.9rem;
  }
}

@keyframes myShot {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: #333;
  }
  100% {
    border-color: #fff;
  }
}
/*----- T-SHIRTS ----- */
/* line 37, ../sass/parts/_section3.sass */
#apparel {
  margin-top: 5vh;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 20px;
  border: thin solid #373737;
  box-shadow: 2px 3px 3px rgba(234, 234, 234, 0.5);
  background-color: rgba(38, 166, 154, 0.5);
}
/* line 47, ../sass/parts/_section3.sass */
#apparel .img-responsive {
  box-shadow: 2px 3px 3px rgba(55, 55, 55, 0.5);
}

/* line 50, ../sass/parts/_section3.sass */
.apparel-description {
  text-align: center;
}

/* line 53, ../sass/parts/_section3.sass */
.buy-button {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 10px;
  bottom: 100px;
  background-image: url("../img/_t-shirt-back.png");
  background-size: contain;
  border-radius: 10px;
}
/* line 62, ../sass/parts/_section3.sass */
.buy-button img.img-responsive {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* line 66, ../sass/parts/_section3.sass */
.buy-button p {
  margin-top: 3px;
  text-align: center;
  color: #f35702;
  background: #444;
}
