@import url("https://fonts.googleapis.com/css?family=Cabin|Droid+Sans|Droid+Serif|El+Messiri|Lora|Noto+Serif|Tangerine");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Droid+Serif");
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------- FONTS/TEXT ---------- */
/*---------- COLORS ---------- */
/*---------- BG IMAGE ---------- */
/*---------- MARGIN/PADDING ---------- */
/*---------- CONTAINER ---------- */
/*---------- TRANSITIONS ---------- */
/* line 89, ../sass/parts/_mixin.sass */
h1,
h2,
h3,
h4,
h5 {
  text-shadow: 1px 1px #316556;
}

/* line 1, ../sass/parts/_base.sass */
* {
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

/* line 6, ../sass/parts/_base.sass */
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cabin, cursive;
}

/* line 11, ../sass/parts/_base.sass */
.container-fluid {
  background: #2c2c2c;
}

/* line 15, ../sass/parts/_base.sass */
#section4 {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 80vh;
  color: #fff;
  background-color: #00bcd4;
}

/* line 22, ../sass/parts/_base.sass */
#section5 {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 80vh;
  color: #fff;
  background-color: #009688;
}

/* line 29, ../sass/parts/_base.sass */
footer {
  box-sizing: border-box;
  background-color: #316556;
}
/* line 33, ../sass/parts/_base.sass */
footer .info-bottom {
  height: 80px;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-shadow: 0.2px 0.5px #fff;
}
/* line 44, ../sass/parts/_base.sass */
footer .info-bottom .copy {
  flex: 1;
  height: auto;
}
/* line 47, ../sass/parts/_base.sass */
footer .info-bottom .company {
  flex: 2;
  height: auto;
}

/* line 6, ../sass/parts/_nav.sass */
body > nav {
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: transparent !important;
}

/* line 13, ../sass/parts/_nav.sass */
.navbar-brand {
  color: #306455 !important;
}
/* line 15, ../sass/parts/_nav.sass */
.navbar-brand:hover {
  text-shadow: 1px 1px #fff;
}

/* line 20, ../sass/parts/_nav.sass */
#myNavbar ul li {
  margin-bottom: 5px;
  border-bottom: thin solid #306455;
}
/* line 23, ../sass/parts/_nav.sass */
#myNavbar ul li:hover {
  border-bottom: thin solid #e33d00;
}
/* line 25, ../sass/parts/_nav.sass */
#myNavbar ul li a {
  color: #f7f7f7;
  font-size: 1.25em;
}
/* line 28, ../sass/parts/_nav.sass */
#myNavbar ul li a:hover {
  color: #e33d00;
}

/* line 30, ../sass/parts/_nav.sass */
.navbar-header {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 34, ../sass/parts/_nav.sass */
.dropdown-toggle {
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.5em;
  background-color: #121212;
}

/* line 41, ../sass/parts/_nav.sass */
.dropdown-menu {
  box-shadow: 1px 1px #ffffff;
  border-radius: 10px;
}

/* line 1, ../sass/parts/_section1.sass */
#section1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
  color: #fff;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-image: url(../img/keyboard-1.jpg);
}
/* line 8, ../sass/parts/_section1.sass */
#section1 div:nth-child(2) {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* line 11, ../sass/parts/_section1.sass */
.inner-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
/* line 14, ../sass/parts/_section1.sass */
.inner-row .text-header {
  margin-top: 0;
  margin-bottom: 10vh;
  padding: 2em 0;
  background-color: rgba(44, 44, 44, 0.8);
  text-shadow: 1px 1px #316556;
  box-shadow: 2px 2px #316556;
}
/* line 23, ../sass/parts/_section1.sass */
.inner-row .text-header h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.25px;
  margin-bottom: 10px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 1.25em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 23, ../sass/parts/_section1.sass */
  .inner-row .text-header h1 {
    font-size: 2.25em;
  }
}
/* line 27, ../sass/parts/_section1.sass */
.inner-row .text-header p {
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 27, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 27, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.25em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 27, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/parts/_section1.sass */
  .inner-row .text-header p {
    font-size: 1.75em;
  }
}

/* line 38, ../sass/parts/_section1.sass */
.riverfront {
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

/* line 42, ../sass/parts/_section1.sass */
iframe {
  width: 480px/2;
  height: 270px/2;
  margin: 20vh 10%;
  display: block;
  border-top: thin solid #fff;
  border-left: thin solid #fff;
  border-bottom: medium solid #333;
  border-right: medium solid #333;
  box-shadow: 3px 3px 6px #316556;
}
@media (max-width: 550px) and (orientation: portrait) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px / 1.75);
    height: calc( 270px / 1.75);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 551px) and (max-width: 768px) and (orientation: portrait) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1);
    height: calc( 270px * 1);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 992px) and (orientation: portrait) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.5);
    height: calc( 270px * 1.5);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 460px) and (max-width: 620px) and (orientation: landscape) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * .9);
    height: calc( 270px * .9);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 621px) and (max-width: 800px) and (orientation: landscape) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1);
    height: calc( 270px * 1);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 801px) and (max-width: 1080px) and (orientation: landscape) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.5);
    height: calc( 270px * 1.5);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 1081px) and (max-width: 1400px) and (orientation: landscape) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 1.8);
    height: calc( 270px * 1.8);
    margin: 5vh auto;
    display: block;
  }
}
@media (min-width: 1400px) and (orientation: landscape) {
  /* line 42, ../sass/parts/_section1.sass */
  iframe {
    width: calc( 480px * 2.2);
    height: calc( 270px * 2.2);
    margin: 15vh auto;
    display: block;
  }
}

/* line 101, ../sass/parts/_section1.sass */
.white-plush {
  background-image: url(../img/white-plush-1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

/* line 105, ../sass/parts/_section1.sass */
.text-warning {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 10px 30px;
  text-align: center;
  color: #262626;
  border-top: 4px solid #316556;
}
/* line 113, ../sass/parts/_section1.sass */
.text-warning h2 {
  font-weight: 600;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 113, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 113, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 113, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  /* line 113, ../sass/parts/_section1.sass */
  .text-warning h2 {
    font-size: 3.9rem;
  }
}
/* line 116, ../sass/parts/_section1.sass */
.text-warning p {
  width: 90%;
  margin: auto 5%;
  padding-bottom: 10px;
  font-weight: 500;
  background: rgba(222, 222, 222, 0.7);
  border-radius: 5px;
  border: thin solid rgba(33, 33, 33, 0.3);
  box-shadow: 4px 2px 1px #316556;
  letter-spacing: 1.25px;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 116, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 116, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.25em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 116, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  /* line 116, ../sass/parts/_section1.sass */
  .text-warning p {
    font-size: 1.75em;
  }
}
@media (min-width: 769px) {
  /* line 116, ../sass/parts/_section1.sass */
  .text-warning p {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
  }
}

/* line 2, ../sass/parts/_section2.sass */
#section2 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #316556;
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 14, ../sass/parts/_section2.sass */
#section2 div {
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: #232323;
  text-align: center;
  border-radius: 15px;
}

/* line 22, ../sass/parts/_section2.sass */
img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* line 26, ../sass/parts/_section2.sass */
.left-side {
  flex: 1 260px;
  height: auto;
  transition: 0.3s ease 0.05s;
  border: thin solid #525252;
}
@media (min-width: 900px) {
  /* line 26, ../sass/parts/_section2.sass */
  .left-side {
    transform-origin: left;
  }
  /* line 33, ../sass/parts/_section2.sass */
  .left-side:hover {
    border: thin solid #c9c9c9;
    z-index: 20;
    transform: scale(1.1);
  }
}

/* line 37, ../sass/parts/_section2.sass */
.right-side {
  flex: 1 260px;
  height: auto;
  transition: 0.3s ease 0.05s;
  border: thin solid #525252;
}
@media (min-width: 900px) {
  /* line 37, ../sass/parts/_section2.sass */
  .right-side {
    order: 2;
  }
  /* line 44, ../sass/parts/_section2.sass */
  .right-side:hover {
    border: thin solid #c9c9c9;
    z-index: 20;
    transform: scale(1.1);
  }
}

/* line 48, ../sass/parts/_section2.sass */
.middle {
  flex: 1 260px;
  height: auto;
  transition: 0.3s ease 0.05s;
  border: thin solid #525252;
  order: 3;
}
@media (min-width: 900px) {
  /* line 48, ../sass/parts/_section2.sass */
  .middle {
    transform-origin: right;
  }
  /* line 56, ../sass/parts/_section2.sass */
  .middle:hover {
    border: thin solid #c4c4c4;
    z-index: 20;
    transform: scale(1.1);
  }
}

/* line 62, ../sass/parts/_section2.sass */
.text-graphic-1 {
  width: 100%;
  padding: 40px 0 45px;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px #316556;
  background-color: #232323;
  border-bottom: 4px solid #316556;
  text-shadow: 1px 1px #316556;
}
/* line 72, ../sass/parts/_section2.sass */
.text-graphic-1 h1 {
  letter-spacing: 1.25px;
  font-style: italic;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 72, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 1.25em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 72, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 72, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 72, ../sass/parts/_section2.sass */
  .text-graphic-1 h1 {
    font-size: 2.25em;
  }
}

/* line 76, ../sass/parts/_section2.sass */
#moreLinks {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #232323;
}

/* line 81, ../sass/parts/_section2.sass */
.pages-menu {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 4px solid #316556;
}
/* line 87, ../sass/parts/_section2.sass */
.pages-menu ul {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 20px;
}
@media (min-width: 550px) {
  /* line 87, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  /* line 87, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  /* line 87, ../sass/parts/_section2.sass */
  .pages-menu ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* line 99, ../sass/parts/_section2.sass */
.pages-menu ul li {
  list-style: none;
  border: thin solid #262626;
  border-radius: 10px;
}
/* line 108, ../sass/parts/_section2.sass */
.pages-menu ul li a {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.25px;
  border: thin solid #316556;
  border-radius: 10px;
  letter-spacing: 1.25px;
  color: #fff;
  text-decoration: none;
  background-color: #316556;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 108, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 1.5em;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 108, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 1.75em;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 108, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 108, ../sass/parts/_section2.sass */
  .pages-menu ul li a {
    font-size: 2.25em;
  }
}
/* line 120, ../sass/parts/_section2.sass */
.pages-menu ul li a:hover {
  color: #525252;
  text-decoration: none;
  background-color: #232323;
  border: thin solid #316556;
}

/*----- BLACK OPS 2 ----- */
/* line 2, ../sass/parts/_section3.sass */
#section3 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 100px 0;
  color: #fff;
  background-color: #444;
}

/* line 10, ../sass/parts/_section3.sass */
.btn-contact {
  font-size: 1.3em;
  border: thin solid #777;
  margin: 2em auto 2em 2em;
  padding: 0.75em;
  text-decoration: none;
  background: #306455;
  color: #fff;
  border-radius: 0.5em;
  transition: 0.3s ease 0.05s;
}
/* line 21, ../sass/parts/_section3.sass */
.btn-contact:hover {
  background: #333;
  color: #f0f0f0;
  text-decoration: none;
}

/* line 26, ../sass/parts/_section3.sass */
.blackops2 {
  width: 60%;
  margin: 2em auto;
  padding: 50px 0;
}
@media (max-width: 700px) {
  /* line 26, ../sass/parts/_section3.sass */
  .blackops2 {
    width: 80%;
  }
}
/* line 33, ../sass/parts/_section3.sass */
.blackops2 a {
  width: 100%;
}
/* line 36, ../sass/parts/_section3.sass */
.blackops2 a img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  box-shadow: 2px 2px #316556;
}
/* line 42, ../sass/parts/_section3.sass */
.blackops2 h2 {
  margin: 1em auto;
  font-size: 1.875em;
  text-shadow: 1px 1px #333;
  text-align: center;
}

/*----- T-SHIRTS ----- */
/* line 51, ../sass/parts/_section3.sass */
#apparel {
  margin-top: 5vh;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  border-radius: 20px;
  background-color: #306455;
}
@media (min-width: 700px) {
  /* line 51, ../sass/parts/_section3.sass */
  #apparel {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* line 62, ../sass/parts/_section3.sass */
#apparel .img-container {
  grid-column: span 1;
  margin: 0 auto;
  box-shadow: 2px 2px 5px #444;
}
@media (max-width: 700px) {
  /* line 62, ../sass/parts/_section3.sass */
  #apparel .img-container {
    width: 60%;
  }
}
/* line 69, ../sass/parts/_section3.sass */
#apparel .apparel-description {
  grid-column: 2 span;
  text-align: center;
}
/* line 72, ../sass/parts/_section3.sass */
#apparel .apparel-description h2 {
  margin: 1em auto;
  font-size: 2em;
  text-shadow: 1px 1px #333;
}
/* line 76, ../sass/parts/_section3.sass */
#apparel .apparel-description p {
  font-size: 1.3em;
  line-height: 1.5em;
}

/* line 80, ../sass/parts/_section3.sass */
.buy-button {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 10px;
  bottom: 100px;
  background-image: url("../img/_t-shirt-back.png");
  background-size: contain;
  border-radius: 10px;
}
/* line 89, ../sass/parts/_section3.sass */
.buy-button img.img-responsive {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* line 93, ../sass/parts/_section3.sass */
.buy-button p {
  margin-top: 3px;
  text-align: center;
  color: #e33d00;
  background: #444;
}
